.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .button button {
    background-color: gray;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button button:hover {
    background-color: cornflowerblue;
  }
  